@{
    ViewData["Title"] = "Home Page";
}

 <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <div class="header-text">
          <span class="category">Abu Dhabi, <em>UAE</em></span>
          <h2> Al Falah 
            Development – <br> Refurbishment 
            of 12 Model Villas</h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category">Abu Dhabi, <em>UAE</em></span>
          <h2>Al Wathba – <br> Rac Majils </h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category">Abu Dhabi, <em>UAE</em></span>
          <h2>Al Falah 
            Development – <br> Refurbishment 
          of 12 Model Villas</h2>

        </div>
      </div>
    </div>
  </div>

  <div class="section aboutUs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="~/images/serv-3.png" class="img-fluid" alt="Image" />
                                 
                            </div>
                        </div>
                        <!--end col-->
                    
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="~/images/serv-3.jpg" class="img-fluid" alt="Image" />
                                 
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="~/images/fac-man.png" class="img-fluid" alt="Image" />
                                 
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2 section">
                <div class="section-heading px-lg-4">
                    <h6>| About Us</h6>
                    <h2>
                        Who We Are
                   </h2>
                    <p class="mt-3">
                        Since its inception in the year 2022, Ajiad Facility Management is one of the most well know Facility Management Companies in UAE, Ajiad Facility has established its name as one of best for rendering Facility Management Services across the UAE.

                        Ajiad Facility Management Company, registered in the vibrant city of Abu Dhabi, is a leading provider of comprehensive facility management solutions. With a commitment to excellence and a passion for service, we specialize in delivering a full spectrum of facility management services that enhance the functionality, comfort, and efficiency of our clients’ environments.

                    </p>
                </div>
        </div>
        <!--end col-->
    </div>
      <!-- <div class="row ">
        <div class="col-lg-4">
          <div class="section-heading">
            <h6>| About Us</h6>
            <h2>Who we are</h2>
          </div>
        </div>
        <div class="col-lg-8">
          <p class="text-center">
          Ajiad Facility Management Company, registered in the vibrant city of Abu Dhabi, is a leading provider of comprehensive facility management solutions. With a commitment to excellence and a passion for service, we specialize in delivering a full spectrum of facility management services that enhance the functionality, comfort, and efficiency of our clients’ environments.

          </p>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="video section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6 class="text-white">| Video View</h6>
            <h2>Get Closer View & Different Feeling</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="video-frame">
            <img src="~/images/video-frame.jpg" alt="">
            <a href="https://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
  <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="left-image">
          
            <div class="container">
              <div class="row">
                <div class="col-12 mb-2">
                  <img src="~/images/banner-01.jpg" alt="" class="img-fluid">
                </div>
                <div class="row p-0 mx-0">
                  <div class="col-md-6 col-12 mb-2"><img src="~/images/banner-03.jpg" alt="" class="img-fluid"></div>
                  <div class="col-md-6 col-12 mb-2"><img src="~/images/Alfalah-3.png" alt="" class="img-fluid"></div>
                  <div class="col-md-6 col-12 mb-2"><img src="~/images/alfalah6.png" alt="" class="img-fluid"></div>
                  <div class="col-md-6 col-12 mb-2"><img src="~/images/alfalah5.png" alt="" class="img-fluid"></div>
                  <div class="col-12 mb-2"><img src="~/images/alfalah4.png" alt="" class="img-fluid"></div>
                </div>
              </div>
          
            </div>
    
            <a href="javascript:void(0)" class="d-flex align-items-center justify-content-center"><img src="~/images/featured-icon.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
          <div class="section-heading">
            <h6>| Largest Project</h6>
            <h2>Al Falah 
              Development – Refurbishment 
              of 12 Model Villas</h2>
          </div>
      @*     <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Best useful links ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                Get <strong>the best villa</strong> website template in HTML CSS and Bootstrap for your business. TemplateMo provides you the <a href="https://www.google.com/search?q=best+free+css+templates" target="_blank">best free CSS templates</a> in the world. Please tell your friends about it.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does this work ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why is Villa Agency the best ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Dolor <strong>almesit amet</strong>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <code>adipiscing</code> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
            </div>
          </div> *@
        </div>
        <div class="col-lg-3 d-flex align-items-center">
          <div class="info-table w-100">
            <ul>
              <li>
               <div class="d-flex align-items-center">
                <img src="~/images/info-icon-01.png" alt=""  >
                <h4>250 m2</h4>
               </div>
                <span>Total Flat Space</span>
              </li>
              <li>    
                <div class="d-flex align-items-center">
                <img src="~/images/info-icon-02.png" alt=""  >
                <h4>Contract</h4>
                </div>
               <span>Contract Ready</span>
              </li>
              <li>
                <div class="d-flex align-items-center">
                <img src="~/images/info-icon-03.png" alt=""  >
                <h4>Payment</h4>
              </div>
                <span>Payment Process</span>
              </li>
              <li>
                <div class="d-flex align-items-center">
                <img src="~/images/info-icon-04.png" alt=""  >
                <h4>Safety</h4>
              </div>
               <span>24/7 Under Control</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-12">
                <div class="section-heading">
                  <h6>| Services </h6>
                  <h2>Our Professional Service For Your
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="counter">
                  <!-- <h2 class="timer count-title count-number" data-to="34" data-speed="1000"></h2> -->
                   <p class="count-text ">Facility Management</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter">
                  <!-- <h2 class="timer count-title count-number" data-to="12" data-speed="1000"></h2> -->
                  <p class="count-text ">Technical Services</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter">
                  <!-- <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2> -->
                  <p class="count-text ">Electromechanical Services
 
                  </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="counter">
                  <!-- <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2> -->
                  <p class="count-text ">Building Maintenance

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section best-deal">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-heading">
            <h6>| Best Deal</h6>
            <h2>Find Your Best Deal Right Now!</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="appartment-tab" data-bs-toggle="tab" data-bs-target="#appartment" type="button" role="tab" aria-controls="appartment" aria-selected="true">Appartment</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="villa-tab" data-bs-toggle="tab" data-bs-target="#villa" type="button" role="tab" aria-controls="villa" aria-selected="false">Villa House</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="penthouse-tab" data-bs-toggle="tab" data-bs-target="#penthouse" type="button" role="tab" aria-controls="penthouse" aria-selected="false">Penthouse</button>
                  </li>
                </ul>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="appartment" role="tabpanel" aria-labelledby="appartment-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Total Flat Space <span>185 m2</span></li>
                          <li>Floor number <span>26th</span></li>
                          <li>Number of rooms <span>4</span></li>
                          <li>Parking Available <span>Yes</span></li>
                          <li>Payment Process <span>Bank</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-01.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Extra Info About Property</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. 
                      <br><br>When you need free CSS templates, you can simply type TemplateMo in any search engine website. In addition, you can type TemplateMo Portfolio, TemplateMo One Page Layouts, etc.</p>
               
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="villa" role="tabpanel" aria-labelledby="villa-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Total Flat Space <span>250 m2</span></li>
                          <li>Floor number <span>26th</span></li>
                          <li>Number of rooms <span>5</span></li>
                          <li>Parking Available <span>Yes</span></li>
                          <li>Payment Process <span>Bank</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-02.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Detail Info About Villa</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                 
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="penthouse" role="tabpanel" aria-labelledby="penthouse-tab">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="info-table">
                        <ul>
                          <li>Total Flat Space <span>320 m2</span></li>
                          <li>Floor number <span>34th</span></li>
                          <li>Number of rooms <span>6</span></li>
                          <li>Parking Available <span>Yes</span></li>
                          <li>Payment Process <span>Bank</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <img src="~/images/deal-03.jpg" alt="">
                    </div>
                    <div class="col-lg-3">
                      <h4>Extra Info About Penthouse</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse. <br><br>Swag fanny pack lyft blog twee. JOMO ethical copper mug, succulents typewriter shaman DIY kitsch twee taiyaki fixie hella venmo after messenger poutine next level humblebrag swag franzen.</p>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="properties section" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Projects</h6>
            <h2>The Best For You</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="javascript:void(0)"><img src="~/images/property-01.jpg" alt=""></a>
            <span class="category">Luxury Villa</span>
            <h6>$2.264.000</h6>
            <h4><a href="javascript:void(0)">18 New Street Miami, OR 97219</a></h4>
            <ul>
              <li>Bedrooms: <span>8</span></li>
              <li>Bathrooms: <span>8</span></li>
              <li>Area: <span>545m2</span></li>
              <li>Floor: <span>3</span></li>
              <li>Parking: <span>6 spots</span></li>
            </ul>
            <div class="main-button">
              <a href="javascript:void(0)">Schedule a visit</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="javascript:void(0)"><img src="~/images/property-02.jpg" alt=""></a>
            <span class="category">Luxury Villa</span>
            <h6>$1.180.000</h6>
            <h4><a href="javascript:void(0)">54 Mid Street Florida, OR 27001</a></h4>
            <ul>
              <li>Bedrooms: <span>6</span></li>
              <li>Bathrooms: <span>5</span></li>
              <li>Area: <span>450m2</span></li>
              <li>Floor: <span>3</span></li>
              <li>Parking: <span>8 spots</span></li>
            </ul>
            <div class="main-button">
              <a href="javascript:void(0)">Schedule a visit</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <a href="javascript:void(0)"><img src="~/images/property-03.jpg" alt=""></a>
            <span class="category">Luxury Villa</span>
            <h6>$1.460.000</h6>
            <h4><a href="javascript:void(0)">26 Old Street Miami, OR 38540</a></h4>
            <ul>
              <li>Bedrooms: <span>5</span></li>
              <li>Bathrooms: <span>4</span></li>
              <li>Area: <span>225m2</span></li>
              <li>Floor: <span>3</span></li>
              <li>Parking: <span>10 spots</span></li>
            </ul>
            <div class="main-button">
              <a href="javascript:void(0)">Schedule a visit</a>
            </div>
          </div>
        </div>
 
       
      </div>
      <a asp-area="" asp-action="Index" asp-controller="Building">view all</a>
    </div>
  </div>

  <div class="contact section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6 class="text-white">| Contact Us</h6>
            <h2>Get In Touch With Our Agents</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-content" id="ContactUs">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.614475594608!2d54.36521280000001!3d24.475491499999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e6653024aac0b%3A0x44617bd626f27b9c!2sAl%20Falah%20St%20-%20Abu%20Dhabi%20-%20United%20Arab%20Emirates!5e1!3m2!1sen!2sjo!4v1724901476388!5m2!1sen!2sjo" width="100%" height="350" frameborder="0" style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
       
        </div>
        <div class="col-lg-7 py-5 d-flex">
              <div class="row mx-0">

                    <div class="col-md-6 mb-2 mb-lg-0">
                        <div class="item d-flex align-items-center">
                            <img src="~/images/email-icon.png" alt="">
                            <a href="mailto:info@ajiyad.com" class="text-decoration-none text-dark d-block">info@ajiyad.com<br><span> Email</span></a>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2 mb-lg-0">
                        <div class="item d-flex align-items-center">
                            <img src="~/images/phone-icon.png" alt="">
                            <h6>+971 52 244 1484<br><span>Phone</span></h6>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2 mb-lg-0">
                        <div class="item d-flex align-items-center">
                            <img src="~/images/phone-icon.png" alt="">
                            <h6>+971 26267200<br><span>Phone</span></h6>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2 mb-lg-0">
                        <div class="item d-flex align-items-center">
                            <i class="fa-regular fa-map"></i>
                            <h6>Building No 63, Mezzanine 1 Al Falah Street - Abu dhabi<br><span>Location</span></h6>
                        </div>
                    </div>
                </div>
                    
                </div>
        </div>
      </div>
    </div>

